    :root {
    --white-color: #fff;
    --graylight-color: #717171;
    --gray-color: #E8E8E9;
    --graydark-color: #8E8E93;
    --blacklight-color: #404040;
    --black-color: #1E2022;
    --cherry-color: #F05757;
    --cherrydark-color: #B3052D; 
    --blue-color: #3191D0;
    --bluedark-color: #5500ff;
    }
  
    html {
      box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
  
    body {
      margin: 0 auto;
      font-family: 'Roboto', sans-serif;
      background-color: var(--white-color);
    }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
  
  /* Global*/
  
    .flex {
      display: flex;
    }
  
    a {
      color: inherit;
      text-decoration: none;
    }
  
    .container {
      max-width: 1120px;
      margin: 0 auto;
    }
  
    .btn-reset {
      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
    }
  
  /* Nav */
  
    .nav {
      background-color: var(--black-color);
      justify-content: space-around;
      height: 50px;
      padding-top: 15px;
      border-bottom: 1px solid var(--white-color);
    }
  
    .nav__gps {
      margin-right: 205px;
    }
  
    .links {
      color: var(--graydark-color);
      margin-right: 30px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
  
    .links:focus {
      color: var(--white-color);
      background-color: var(--graydark-color);
      border-radius: 10px;
      transition: color .5s ease-in-out, background-color .5s ease-in-out;
    }
  
    .links:hover {
      color: var(--white-color);
      transition: color .5s ease;
    }
  
    .nav__tel {
      color: var(--graydark-color);
    }
  
    .nav__tel:hover {
      color: var(--white-color);
      transition: color .5s ease;
    }
  
  /* Header */
  
    .header {
      background-color: var(--black-color);
      justify-content: space-around;
      height: 80px;
      padding-top: 15px;
    }
  
    .header__logo {
      margin-right: 30px;
      margin-top: 5px;
    }
  
    .header__slider {
      color: var(--graydark-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      background: url("../img/catalog.png") no-repeat 15% 50%;
      border: 1px solid var(--graydark-color);
      border-radius: 6px;
      padding: 15px 22px 15px 43px;
      margin-right: 30px;
    }
  
    .header__slider:hover {
      color: var(--white-color);
      transition: color .5s ease;
    }
  
    .header__search {
      background-color: var(--black-color);
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: var(--graydark-color);
      padding: 15px 15px 15px 22px;;
      border: 1px solid var(--graydark-color);
      border-radius: 6px;
      background: url("../img/search.png") no-repeat 95% 50%;
      margin-right: 37px;
      width: 350px;
    }
  
    .header__compare {
      padding: 20px 30px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: var(--graydark-color);
      background: url("../img/compare.png") no-repeat 10% 35%;
    }
  
    .header__compare-rate {
      margin-left: 7px;
    }
  
    .header__compare-rate:hover {
      color: var(--white-color);
      transition: color .5s ease;
    }
  
    .header__basket {
      padding: 20px 30px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: var(--graydark-color);
      background: url("../img/basket.png") no-repeat 10% 40%;
    }
  
    .header__basket-rate {
      margin-left: 7px;
    }
  
    .header__basket-rate:hover {
      color: var(--white-color);
      transition: color .5s ease;
    }
  
    .header__account {
      padding: 20px 30px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: var(--graydark-color);
      background: url("../img/account.png") no-repeat 10% 40%;
    }
  
    .header__account-rate {
      margin-left: 7px;
    }
  
    .header__account-rate:hover {
      color: var(--white-color);
      transition: color .5s ease;
    }

    /* Main */

    .main {
        padding: 30px 0;
    }

    .main__photo {
        margin-right: 20px;
    }

    .arrow-left {
        width: 38px;
        position: absolute;
        left: 16%;
        bottom: 40%;
        background: url(../img/left.png) no-repeat;
        height: 38px;
      }
      
      .arrow-right {
        width: 38px;
        position: absolute;
        left: 57%;
        bottom: 40%;
        background: url(../img/right.png) no-repeat;
        height: 38px;
      }
    
      #prev {
        padding: 16px;
      }
    
      #next {
        padding: 16px;
      }
    
      .dots{
        margin: 0;
        margin-left: 40%;
        margin-top: 14%;
      }
      
      .dot{
        display: inline-block;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: var(--graylight-color);
        border-radius: 50%;
        transition: background-color 0.6s ease;
      }
      
      .fade{
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
        width: 720px;
        height: 315px;
        left: calc(50% - 430px/2);
        top: calc(50% - 315px/2 - 14px);
      }

      .viewed__wrapper {
        padding-top: 60px;
      }

      .viewed {
        margin-bottom: 120px;
      }
    
      .viewed__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 0;
        color: var(--black-color);
      }
    
      .block {
        list-style-type: none;
        width: 265px;
        min-height: 413px;
        padding: 20px 0px;
        gap: 20px;
      }
    
      .block:not(:last-child) {
        margin-right: 20px;
      }
    
      .img {
        margin-bottom: 20px;
      }
    
      .reviewe__descr {
        width: 200px;
        min-height: 55px;
        margin-bottom: 10px;
      }
    
      .coffee-machine {
        margin-bottom: 11px;
      }
    
      .price {
        margin-bottom: 20px;
      }

      .past {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-decoration: line-through;
        color: var(--graydark-color);
      }
    
      .last {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: var(--black-color);
        margin-bottom: 6px;
      }
      .rating {
        margin-bottom: 27px;
      }
    
      .star {
        margin-right: 5px;
        width: 20px;
        height: 20px;
      }
    
      .rate {
        color: var(--cherry-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-top: 5px;
        margin-right: 5px;
      }
    
      .feedback {
        font-size: 14px;
        line-height: 16px;
        color: var(--graydark-color);
        margin-top: 5px;
        margin-right: 26px;
      }
    
      .feedback:hover {
        cursor: pointer;
        color: var(--cherry-color);
      }
    
      .heart {
        margin-right: 23px;
      }
    
      .heart:hover {
        background: url("../img/heart2.png") no-repeat;
      }
    
      .static:hover {
        background: url("../img/static2.png") no-repeat;
      }

      .cart {
        width: 80px;
        height: 40px;
        padding: 4px 24px;
        background-color: var(--cherry-color);
        border: 1px solid var(--cherry-color);
        border-radius: 6px;
        margin-right: 16px;
      }
    
      .cart:hover {
        cursor: pointer;
        background-color: var(--cherrydark-color);
        transition: background .5s ease-in-out;
      }

      .heartt {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 23px;
        border: none;
        /*background-color: var(--white-color);*/
        background: url('../img/heart.png') no-repeat;
      }

      .heartt:hover {
        background: url('../img/heart2.png') no-repeat;
      }

      .statt {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 23px;
        border: none;
        background: url('../img/static.png') no-repeat;
      }
      .statt:hover {
        background: url('../img/static2.png') no-repeat;
      }
    
      .pricee {
        margin-bottom: 36px;
      }

      .left-arrow {
        position: absolute;
        left: 10%;
        bottom: -40%;
        background: url(../img/left.png) no-repeat;
        height: 38px;
      }
      
      .right-arrow {
        position: absolute;
        left: 70%;
        bottom: -40%;
        background: url(../img/right.png) no-repeat;
        height: 38px;
      }

      .slid2 {
        width: 180px;
        height: 180px;
      }

      .slid2:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: transform .5s ease-in;
      }

      .img:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: transform .5s ease-in;
      }

      /* Бренды */

      .brands__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: var(--black-color);
        margin-bottom: 50px;
      }

      .img-brands {
        width: 120px;
        height: 60px;
      }

      .brands__top {
        margin-bottom: 30px;
      }

      .brands__top-img:not(:last-child) {
        margin-right: 20px;
      }

      .brands__bottom {
        margin-bottom: 30px;
      }

      .brands__bottom-img:not(:last-child) {
        margin-right: 20px;
      }

      /* Успей сейчас */

      .l-arrow {
        position: relative;
        display: block;
        left: -5%;
        bottom: 50px;
        background: url(../img/left.png) no-repeat;
        height: 38px;
        z-index: 1;
      }
      
      .r-arrow {
        position: relative;
        display: block;
        left: 75%;
        bottom: 80px;
        background: url(../img/right.png) no-repeat;
        height: 38px;
        z-index: 1;
      }

      .fadee{
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
        width: 720px;
        height: 315px;
        left: calc(50% - 430px/2);
        top: calc(50% - 315px/2 - 14px);
      }

      .now {
        margin-bottom: 120px;
      }

      .now__wrapper {
        padding-top: 60px;
      }

      .now__descr {
        width: 200px;
        min-height: 55px;
        margin-bottom: 10px;
      }

      .notebook {
        margin-bottom: 11px;
      }

      .starr {
        margin-right: 5px;
        width: 20px;
        height: 20px;
      }

      .slid22 {
        width: 180px;
        height: 180px;
      }

      .ratee {
        color: var(--cherry-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-top: 5px;
        margin-right: 5px;
      }

      .feedbackk {
        font-size: 14px;
        line-height: 16px;
        color: var(--graydark-color);
        margin-top: 5px;
        margin-right: 26px;
      }

      #prevv {
        padding: 16px;
      }
    
      #nextt {
        padding: 16px;
      }

      .cartt {
        width: 80px;
        min-height: 40px;
        padding: 4px 24px;
        background-color: var(--cherry-color);
        border: 1px solid var(--cherry-color);
        border-radius: 6px;
        margin-right: 16px;
      }
    
      .cartt:hover {
        cursor: pointer;
        background-color: var(--cherrydark-color);
        transition: background .5s ease-in-out;
      }

      .now-img {
        width: 130px;
        height: 170px;
        padding: 15px 0;
      }

      .now-img:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: transform .5s ease-in;
      }

      /* Footer */

      .footer {
        width: 100%;
        background-color: var(--black-color);
        border-bottom: 1px solid #404040;
      }
    
      .footer__logo {
        padding-top: 30px;
        margin-bottom: 30px;
      }
    
      .footer__about {
        margin-right: 60px;
      }
    
      .footer__company {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: var(--white-color);
        margin-bottom: 30px;
      }
    
      .footer__blocks {
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
      }
    
      .footer__block {
        cursor: pointer;
        list-style-type: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--graydark-color);
      }
    
      .footer__block:not(:last-child) {
        margin-bottom: 10px;
      }
    
      .footer__block:hover {
        color: var(--white-color);
        transition: color .5s ease-in-out;
      }
    
      .footer__buyers {
        margin-right: 60px;
      }
    
      .footer__buy {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: var(--white-color);
        margin-bottom: 30px;
      }
    
      .footer__help {
        margin-top: 82px;
        margin-right: 106px;
      }
    
      .footer__network {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: var(--white-color);
        margin-bottom: 30px;
      }
    
      .next {
        float: right;
        margin-top: 180px;
        cursor: pointer;
        color: var(--white-color);
        font-weight: bold;
        font-size: 1rem;
        width: 30px;
        height: 30px;
      }
    
      .footer__bottom {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-top: 30px;
      }
    
      .footer__copyright {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #8E8E93;
      }
    
      .offer:not(:last-child) {
        margin-right: 30px;
      }
    
      .offer {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #8E8E93;
      }
    

    @media screen and (max-width: 1920px) {
    
        .container {
          width: 1120px;
        }
    
        .nav__link:last-child {
          margin-right: 125px;
        }
    }

    @media screen and (max-width: 1600px) {
    
        .nav__gps {
          margin-right: 100px;
        }
    
        .header__search {
          width: 300px;
        }
    
    }
    
    @media screen and (max-width: 1180px) {

        .arrow-left {
          left: 5%;
          bottom: 40%;
        }

        .arrow-right {
          left: 57%;
          bottom: 40%;
        }

        .left-arrow {
          left: 0;
          bottom: 40%;
        }

        .right-arrow {
          left: 75%;
          bottom: 40%;
        }

        .l-arrow {
          left: -3%;
        }

        .r-arrow {
          left: 72%;
        }
    
        .nav__gps {
          margin-right: 90px;
        }
    
        .nav__link:last-child {
          margin-right: 90px;
        }
    
        .container {
          width: 980px;
          padding: 0 10px;
          margin: 0 auto;
        }

        .footer__blocks {
          display: none;
        }
    
        .footer__about {
          display: block;
        }
    
        .next {
          float: right;
          margin-right: 10px;
        }
    
        .footer__logo {
          margin: 0 20px;
          padding: 30px 0;
          border-bottom: 1px solid #404040;
        }
    
        .footer__help {
          display: none;
        }
    
        .footer.container {
          display: block;
        }
    
        .footer__about {
          margin: 30px 20px;
          border-bottom: 1px solid #404040;
        }
    
        .footer__buy {
          margin: 30px 20px;
          padding-bottom: 30px;
          border-bottom: 1px solid #404040;
        }
    
        .footer__network {
          margin: 0;
          margin: 30px 20px;
        }
    
        .footer__flex {
          border-bottom: 1px solid #404040;
          margin-left: 20px;
          padding-bottom: 30px;
        }
    
        .icons {
          margin-right: 20px;
        }
    
        .footer__bottom {
          width: 100%;
          padding: 30px 20px;
        }
    }

    @media screen and (max-width: 960px) {
      
      .header__slider {
        display: none;
      }

      .nav__link:nth-child(n+3) {
        display: none;
      }

      .arrow-left {
        left: 3%;
      }

      .arrow-right {
        left: 70%;
      }

      .dele {
        display: none;
      }

      .viewed__wrapper:nth-child(4n) {
        display: none;
      }

      .left-arrow {
        left: 2%;
        bottom: -46%;
      }

      .right-arrow {
        bottom: -46%;
      }

      .l-arrow {
        left: 0;
      }

      .r-arrow {
        left: 85%;
      }

      .footer {
        width: 100%;
      }
  
      .footer__logo {
        padding: 20px 0;
      }
  
      .footer__about {
        margin: 26px 0;
      }
  
      .footer__buyers {
        margin: 26px 0;
      }
  
      .comment__quality {
        width: 350px;
        min-height: 30px;
      }
  
      .footer__buy {
        margin: 0;
      }
  
      .footer__network {
        margin: 0;
        margin-bottom: 30px;
      }
  
      .footer__flex {
        margin: 0;
      }
  
      .footer__bottom {
        margin: 30px 0;
      }
  
      .offer {
        margin-bottom: 20px;
      }
  
      .offer:last-child {
        display: block;
      }
    }

    @media screen and (max-width: 700px) {

      .nav__link {
        display: none;
      }
  
      .nav__tel {
        display: none;
      }
  
      .nav {
        border: 0;
        display: block;
      }
  
      .nav__gps {
        margin-left: 230px;
        margin-top: 15px;
      }
  
      .header__logo {
        position: absolute;
        top: 5px;
        left: 10px;
      }
  
      .header__slider {
        display: none;
      }
  
      .header__compare {
        display: none;
      }
  
      .header__basket {
        display: none;
      }
  
      .header__account {
        display: none;
      }
  
      .header__search {
        min-width: 300px;
        margin: 0 20px 20px;
      }

      .fade {
        width: 650px;
        height: 420px;
      }

      .arrow-left {
        bottom: 45%;
      }

      .arrow-right {
        bottom: 45%;
        left: 600px;
      }

      .right-arrow {
        left: 90%;
      }

      .brands__top-img:last-child {
        display: none;
      }

      .brands__bottom-img:last-child {
        display: none;
      }

      .wrap {
        display: none;
      }

      .r-arrow {
        left: 65%;
      }
    }

    @media screen and (max-width: 360px) {

      .fade {
        width: 300px;
        height: 180px;
      }

      .dots {
        margin-left: 30%;
        margin-top: 0;
      }

      .arrow-left {
        bottom: 60%;
        left: 7%;
      }

      .arrow-right {
        bottom: 60%;
        left: 80%;
      }

      .nav__gps {
        margin-left: 200px;
        margin-top: 15px;
        margin-bottom: 20px;
      }
  
      .header__search {
        margin-left: 0;
        margin-right: 0;
      }
  
     .container {
      padding: 0 20px 0 20px;
     }

     .viewed__wrapper img {
      width: 70px;
      height: 70px;
     }

     .reviewe__descr {
      font-size: 10px;
      width: 80px;
      min-height: 20px;
      margin: 0;
     }

     img.star {
      width: 10px;
      height: 10px;
      margin-right: 0;
     }

     .rate {
      font-size: 10px;
      margin-right: 0;
     }

     .feedback {
      font-size: 10px;
     }

     .past {
      font-size: 10px;
     }

     .last {
      font-size: 10px;
     }

     .cart img {
      width: 20px;
      height: 20px;
     }

     .coffee-machine {
      margin-bottom: 0;
     }

     .price {
      margin-bottom: 0;
     }

     .cart {
      width: 20px;
      height: 20px;
      padding: 0;
      padding: 2px 30px 8px 10px;
      margin: 0;
     }

     .heartt {
        margin: 0;
     }

     .viewed {
        margin-bottom: 0;
     }

     .brands__title {
        margin: 0 0 20px;
     }

     .left-arrow {
        bottom: 0;
     }

     .right-arrow {
        bottom: 0;
     }

     .brands__top {
        margin-bottom: 0;
     }

     .brands__top-img img {
        width: 60px;
        height: 40px;
     }

     .brands__top-img {
        margin-right: 0;
     }

     .brands__top-img:nth-child(3) {
      display: none;
     }

     .brands__bottom {
      margin-bottom: 0;
    }

   .brands__bottom-img img {
      width: 60px;
      height: 40px;
   }

   .brands__bottom-img:nth-child(1) {
    display: none;
   }

   .viewed__title {
    margin: 0;
   }

   .now__wrapper img {
    width: 70px;
    height: 70px;
   }

   .now__descr {
    font-size: 10px;
    width: 80px;
    min-height: 20px;
    margin: 0;
   }

   img.starr {
    width: 10px;
    height: 10px;
    margin-right: 0;
   }

   .ratee {
    font-size: 10px;
    margin-right: 0;
   }

   .feedbackk {
    font-size: 10px;
   }

   .past {
    font-size: 10px;
   }

   .last {
    font-size: 10px;
   }

   .cartt img {
    width: 20px;
    height: 20px;
   }

   .coffee-machine {
    margin-bottom: 0;
   }

   .pricee {
    margin-bottom: 0;
   }

   .cartt {
    width: 20px;
    height: 20px;
    padding: 0;
    padding: 2px 30px 8px 10px;
    margin: 0;
   }

   .heartt {
      margin: 0;
   }

   .viewed {
      margin-bottom: 0;
   }

   .l-arrow {
    left: -1%;
    bottom: 123px;
   }

   .r-arrow {
    left: 30%;
    bottom: 160px;
   }

   .now {
    margin-bottom: 0;
   }

    }